<div class="footer" id="footer-meetApp">
    <div class="col-12">
        <div class="innerElements" class="row">
            <div class="col-2"></div>
            <div class="col-2"><i class="material-icons">{{ isVideoOn ? 'videocam' : 'videocam_off' }}</i></div>
            <div class="col-2"><i class="material-icons">{{ isMicOn ? 'mic' : 'mic_off' }}</i></div>
            <div class="col-2"><i class="material-icons">{{ isScreenSharing ? 'screen_share' : 'stop_screen_share' }}</i></div>
            <div class="col-2"> <i class="material-icons">call_end</i></div>
            <div class="col-2"></div>
        </div>
    </div>
</div>